.product-price {
    font-size: 20px;
} 

.size-guide-btn {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.close-btn {
    border: none;
    background-color: #fff;
    font-size: 24px;;
}

.product-size-btn button {
    font-size: 18px;
    border: none;
    height: 50px;
    width: 50px;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #f7f7f7;
}

.showSize {
    display: inline-block;
}

.product-size-btn button:hover {
    background-color: #eaeaea;
}

.product-size-btn button.active {
    background-color: #292b2c;
    color: white;
  }

.product-color button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 0.5px solid #292b2c;
    color: rgba(255,255,255,0);
    overflow: hidden;
}

.add-to-bag-btn button {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
}

.carousel-control-prev-icon {
    position: absolute;
    bottom: 30px;
    left: 20px;
    height: 60px;
    width: 60px;
}

.carousel-control-next-icon {
    position: absolute;
    bottom: 30px;
    right: 20px;
}

#addToBagError {
    color: red;
    font-style: italic;
}


  